/* Dialog */
.dialog-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 99;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  z-index: 9999;
}

.dialog {
  width: 95%;
  max-width: 600px;
  height: 95%;
  max-height: 1000px;
  border-radius: 50px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
} 

.dialog-intro {
  height: 50%;
  position: relative;
}

.dialog-intro-background {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-image: url("../img/transparent-pokeball.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
  opacity: 0.1;
  z-index: 0;
}

/* Dialog Header */
.dialog-header {
  position: relative;
  padding: 32px 16px 0 16px;
  color: white;
  height: 150px;
  z-index: 1;
}

.dialog-header-number {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.close-dialog {
  font-size: 32px;
  cursor: pointer;
}

.close-dialog:hover {
  font-weight: bold;
}

.dialog-header-name h2 {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 8px;
}

.dialog-pokemon-name {
  margin-top: 0;
}

/* Dialog Artwork */
.dialog-artwork {
  position: relative;
  height: calc(100% - 150px);;
  width: 100%;
  display: flex;
  justify-content: center;
}

.dialog-artwork-image {
  position: relative;
  height: 100%;
  width: auto;
  object-fit: contain;
  z-index: 1;
}

/* Dialog Data */
.dialog-data {
  position: relative;
  background-color: white;
  width: 100%;
  height: 50%;
  border-radius: 50px;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.dialog-tabs {
  display: flex;
  justify-content: space-around;
  border-bottom: 1px solid #ddd;
  padding: 25px 0 0 0;
  margin-bottom: 16px;
}

.dialog-tablink {
  background: none;
  border: none;
  border-bottom: 3px solid white;
  padding: 0 0 10px 0;
  cursor: pointer;
  font-size: 16px;
  color: #555;
  z-index: 999;
}

.dialog-tablink:hover {
  color: rgb(227, 53, 12);
  border-bottom: 3px solid rgb(227, 53, 12);
}

.activeTab {
  color: rgb(227, 53, 12) !important;
  font-weight: bold;
  border-bottom: 3px solid rgb(227, 53, 12) !important;
}

.dialog-tab-content {
  height: calc(100% - 80px);
  overflow-y: auto;
}

/* Tab About & Base Stats */
.pokemon-info-table {
  width: 95%;
  border-collapse: collapse;
  margin-bottom: 10px;
  margin-left: 10px;
  table-layout: fixed;
}

.pokemon-info-table td {
  padding: 5px 0;
  border-bottom: 1px solid #ddd;
  color: #333;
  font-size: 14px;
  width: 50%;
}

.pokemon-info-table td:nth-child(2) {
  font-weight: bold;
  padding-right: 10px;
}

.pokemon-info-table td:nth-child(3) {
  width: 300px;
}

.bar-container {
  width: 100%;
  background-color: #e0e0e0;
  border-radius: 5px;
  height: 20px;
  position: relative;
}

.bar {
  height: 100%;
  border-radius: 5px;
}

.symbol {
  width: 12px;
}

/* Tab Evolution */
.evolution-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.pokemon-evolution-info {
  background-color: #f9f9f9;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 15px;
  margin: 10px;
  width: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pokemon-evolution-image {
  width: 72px;
  height: auto;
}

.pokemon-evolution-name {
  font-size: 16px;
  font-weight: bold;
  margin-top: 10px;
}

/* Dialog Footer */
.dialog-footer {
  height: 52px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 8px 0 16px 0;
}

.nav-button {
  background: none;
  border: none;
  cursor: pointer;
}

.nav-button:hover .arrow-img {
  opacity: 0.5;
}

.arrow-img {
  width: 48px;
  height: 48px;
}