/* Dialog base styling */
.pokemon-dialog {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 99;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pokemon-dialog-content {
  width: 600px;
  height: 95%;
  border-radius: 50px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  overflow: hidden;
}

.pokemon-detail-artwork {
  padding: 20px;
  color: white;
  height: 50%;
}

/* Header */
.pokemon-detail-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
}

.pokemon-detail-number {
  z-index: 999;
}

/* Close button */
.close-dialog {
  font-size: 32px;
  cursor: pointer;
}

.close-dialog:hover {
  font-weight: bold;
}

.pokemon-detail-name {
  font-size: 40px;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 15px;
}

/* Pokemon image and background Pokéball */
.pokemon-detail-body {
  position: relative;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  transform: translateY(-60px);
}

.pokemon-detail-image {
  max-width: 350px;
  height: auto;
  z-index: 1;
  position: relative;
}

.background-pokeball {
  position: absolute;
  right: -20px;
  top: 130px;
  width: 450px;
  height: 450px;
  background-image: url("../img/transparent-pokeball.png");
  background-size: contain;
  background-repeat: no-repeat;
  opacity: 0.1;
  transform: translateY(-50%) rotate(45deg);
  z-index: 0;
}

.pokemon-dialog-details {
  background-color: white;
  width: 100%;
  height: 50%;
  border-radius: 50px;
  padding: 0 20px;
}

/* Tabs */
.pokemon-detail-tabs {
  display: flex;
  justify-content: space-around;
  border-bottom: 1px solid #ddd;
  padding: 25px 0 0 0;
  margin-bottom: 16px;
}

.pokemon-detail-tabs button {
  background: none;
  border: none;
  border-bottom: 3px solid white;
  padding: 0 0 10px 0;
  cursor: pointer;
  font-size: 16px;
  color: #555;
  z-index: 999;
}

.pokemon-detail-tabs button:hover {
  color: rgb(227, 53, 12);
  border-bottom: 3px solid rgb(227, 53, 12);
}

.activeTab {
  color: rgb(227, 53, 12) !important;
  font-weight: bold;
  border-bottom: 3px solid rgb(227, 53, 12) !important;
}

.tabcontent {
  padding: 10px;
}

/* Table styling for About section */
.pokemon-info-table {
  width: 95%;
  border-collapse: collapse;
  margin-bottom: 10px;
  margin-left: 10px;
  table-layout: fixed;
}

.pokemon-info-table td {
  padding: 5px 0;
  border-bottom: 1px solid #ddd;
  color: #333;
  font-size: 14px;
  width: 50%;
}

.pokemon-info-table td:nth-child(2) {
  font-weight: bold;
}

.bar-container {
  width: 100%;
  background-color: #e0e0e0;
  border-radius: 5px;
  height: 20px;
  position: relative;
}

.bar {
  height: 100%;
  border-radius: 5px;
}

.symbol {
  width: 12px;
}

.detail-card-footer {
  position: relative;
  height: 50px;
}

.nav-button {
  position: absolute;
  background: none;
  border: none;
  cursor: pointer;
  padding: 10px;
}

.arrow-img {
  width: 48px;
  height: 48px;
}

.nav-button.previous {
  left: 10px;
  bottom: -30px;
  transform: rotate(180deg);
}

.nav-button.next {
  right: 10px;
  bottom: -30px;
}

.nav-button:hover .arrow-img {
  opacity: 0.5;
}

/* .pokemon-evolution-info {
  display: inline-block;
  text-align: center;
  background-color: #f0f0f0;
  padding: 10px;
  border-radius: 10px;
  margin: 0 10px;
  width: 100px;
} */

.pokemon-evolution-image {
  width: 72px;
  height: auto;
}

/* .evolution-arrow {
  display: inline-block;
  font-size: 24px;
  margin: 0 10px;
  vertical-align: middle;
  line-height: 100px; 
} */

.evolution-container {
  display: flex;
  justify-content: center;
  align-items: center; /* Zentriert die Elemente */
  flex-wrap: wrap;
}

.pokemon-evolution-info {
  background-color: #f9f9f9; /* Weiße Hintergrundfarbe für die Karten */
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); /* Leichter Schatten für Tiefe */
  border-radius: 10px; /* Abgerundete Ecken */
  padding: 15px; /* Innenabstand der Karte */
  margin: 10px; /* Vertikaler Abstand zwischen den Karten */
  width: 150px; /* Feste Breite für die Karten */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pokemon-evolution-image {
  width: 72px; /* Fixe Breite für die Pokémon-Bilder */
  height: auto; /* Automatische Höhe, um das Verhältnis beizubehalten */
}

.pokemon-evolution-name {
  font-size: 16px; /* Größe der Schrift für den Namen */
  font-weight: bold; /* Fettdruck für den Namen */
  margin-top: 10px; /* Abstand zum Bild */
}

