* {
  box-sizing: border-box;
  margin: 0;
  scroll-behavior: smooth;
  font-family: sans-serif;
}

body {
  overflow-x: hidden;
}

.background {
  width: 100%;
  background-color: inherit;
}

.container {
  max-width: 1920px;
  margin: 0 auto;
  padding: 0 24px;
}

.container-header {
  display: flex;
  justify-content: space-between;
}

.container-footer {
  background-color: rgb(49, 49, 49);
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: rgb(227, 53, 12);
  height: 96px;
  z-index: 3;
}

.container-logo {
  display: flex;
  align-items: center;
}

.search-wrapper {
  display: flex;
  align-items: center;
}

footer {
  background-color: rgb(227, 53, 12);
  color: white;
  text-align: center;
  padding: 24px 0;
}

main {
  background-color: rgb(49, 49, 49);
  min-height: calc(100vh - 182px)
}

.main-container {
  margin-top: 96px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
}

h4 {
  margin: 16px 0;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: rgb(227, 53, 12);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(165, 38, 9);
}